/* ------------------------------- MEDIA QUERY ------------------------------ */
@media (max-width: 668px) {
  header {
    padding: 2rem 1rem;
    display: grid;
    place-items: center;
  }
  .input-group {
    width: 100% !important;
  }
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 0.6rem;
  }
  h3 {
    padding: 0.9rem;
    font-size: 0.8rem;
    width: 20rem;
  }
  h3 span {
    font-size: 1rem;
    font-weight: 500;
    padding: 0 0.5rem;
  }
  .poster {
    width: 100%;
  }
  footer {
    font-size: 0.8rem;
  }
}
